<header>
    <div>
        <div>
            <img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.8/mercadolibre/logo__large_plus.png" alt="">
        </div>

        <div style="display: flex;background-color: white;align-items: center;">
            <input type="search" name="" id="barraBusqueda" placeholder="Buscar productos, marcas y más..." style="width: 80vh; height: 40px;border: none;outline-width: 0;">
            <div style="display: flex;width: 5%;">
                <ion-icon name="search" style="font-size: 20px;"></ion-icon>
            </div>
        </div>

        <div>
            <img src="https://http2.mlstatic.com/D_NQ_988105-MLA54625219687_032023-OO.webp" alt="" style="height: 40px;">
        </div>     
    </div>
    <div>
        <div>
            Categorias ˅
        </div>
        
        <div>
            <ul>
                <li>Historial </li>
                <li>Tiendas oficiales</li>
                <li>Ofertas de la semana</li>
                <li>Vender</li>
                <li>Ayuda</li>
                
            </ul>

        </div>

        <div>
            <ul>
                <li><ion-icon name="person"></ion-icon>Angel ˅</li>
                <li>Mis compras</li>
                <li>Favoritos ˅</li>
                <li><ion-icon name="notifications-outline"></ion-icon></li>
            </ul>

        </div>
    </div>
</header>