<app-header></app-header>


<article *ngFor="let producto of productos">
    <div id="contendor">

        <div id="imagenes">
            <div id="imgPequeñas" *ngIf="producto.id === id">
                <img [src]="producto.imagenURL" alt="{{ producto.titulo }}" class="imgPequeña">
                <img [src]="producto.imagenURL" alt="{{ producto.titulo }}" class="imgPequeña">
                <img [src]="producto.imagenURL" alt="{{ producto.titulo }}" class="imgPequeña">
              </div>

            <div *ngIf="producto.id === id">
                <img [src]="producto.imagenURL" alt="{{ producto.titulo }}">
              </div>

        </div>

        <div id="datos" *ngIf="producto.id === id"> 
            <span>Nuevo | 202 vendidos</span> 
            <h3>{{ producto.titulo }}</h3>
            <span id="estrellas">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
            </span>
            14 Opiniones
            <h1>US$ {{ producto.precio }}</h1>
            <h4>Bs{{ producto.precio *25}}</h4>
            <span class="textoazul">Ver los metodos de pago</span><br>
            <p>{{ producto.description }}</p>
            <span><ion-icon name="bus"></ion-icon>  {{ producto.tipoEnvio }}</span><br>
            <span >Barquisimeto, lara</span><br>
            <span class="textoazul">Ver costos de envio</span><br>
            <span>Cantidad: 1 unidad</span> <ion-icon name="chevron-down-outline"></ion-icon> <span>(8 disponibles)</span><br>
            <button id="bntComprar">Comprar ahora</button>
        </div>

    </div>

   
  
    <!-- <div class="contenedorINF" *ngIf="producto.id === id">
      <mat-card class="cartaDescripcion">
        <mat-card-header>
          <mat-card-subtitle>NUEVO</mat-card-subtitle>
          <mat-card-title>{{ producto.titulo }}</mat-card-title>
          <mat-divider></mat-divider>
        </mat-card-header>
        <mat-card-content>
          <h1 class="precioDolar">US$ {{ producto.precio }}</h1>
          <h3 class="precioBolivar">Bs. {{ producto.precio * 25 }}</h3>
          <mat-divider></mat-divider>
          <p class="descripcion"><strong>Descripción: </strong>{{ producto.description }}</p>
          <p class="tipoEnvio"><strong>Tipo de envío: </strong>{{ producto.tipoEnvio }}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <a class="botonesOpciones">
            <button class="btnSeleccionar" id="btn-seleccionar" mat-flat-button color="warn">COMPRAR</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div> -->
  
  </article>